/* Start Variables */
:root {
  --main-color: #338d41;
  --transparent-color: #338d4183;
  --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 78px;
}

header .logo img {
  height: 75px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 30px);
  background-color: white;
  bottom: 0;
  left: 15px;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
  
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  header .form {
    padding-left: 20px;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  header nav .toggle-menu:hover + ul li a {
    padding: 15px;
  }
}
nav ul a {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  padding: 30px 0;
  transition: .3s;
  -webkit-transition: color .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  z-index: 2;
}

header .form {
  padding-left: 40px;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  header .form {
    padding-left: 20px;
  }
}
header .form i {
  color: white;
  border-left: 1px solid white;
  padding-left: 20px;
}

header nav ul .active, header nav ul a:hover {
  color: var(--main-color);
  border-bottom: 2px var(--main-color) solid;
}
/* /Header */

/* Landing */
.landing {
  height: 100vh;
  background-image: url(../images/compressed-landing.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .landing {
    background-image: url("../images/compressed-mobile.jpg");
  }
}

.landing .text {
  width: 40%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}

.landing .text .content {
  max-width: 400px;
}

.landing .text .content h2 {
  font-size: 32px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.landing .text .content p {
  font-size: 17px;
  line-height: 1.6;
}
.landing .change-position {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .fa-angle-right {
  right: 10px;
}
.landing .fa-angle-left {
  left: 10px;
}
.landing .bullets {
  display: flex;
  column-gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .bullets li{
  width: 15px;
  height: 15px;
  border: 1.8px solid white;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .bullets .active {
  background-color: var(--main-color);
}
/* /Landing */